/* You can add global styles to this file, and also import other style files */
:root {
    --normal: #A8A77A;
	--fire: #EE8130;
	--water: #6390F0;
	--electric: #F7D02C;
	--grass: #7AC74C;
	--ice: #96D9D6;
	--fighting: #C22E28;
	--poison: #A33EA1;;
	--ground:#E2BF65;
	--flying: #A98FF3;
	--psychic: #F95587;
	--bug: #A6B91A;
	--rock: #B6A136;
	--ghost: #735797;
	--dragon: #6F35FC;
	--dark: #705746;
	--steel: #B7B7CE;
	--fairy: #D685AD;

    --normal-hover: #b6b588;
	--fire-hover: #f58c3c;
	--water-hover: #6d98f5;
	--electric-hover: #ecd781;
	--grass-hover: #85d456;
	--ice-hover: #abece9;
	--fighting-hover: #d33a34;
	--poison-hover: #b84db6;;
	--ground-hover:#eccc7a;
	--flying-hover: #bba4f8;
	--psychic-hover: #fc6b97;
	--bug-hover: #bccf27;
	--rock-hover: #ceb84d;
	--ghost-hover: #8a6db1;
	--dragon-hover: #7b4bf7;
	--dark-hover: #8a6e5c;
	--steel-hover: #cdcddd;
	--fairy-hover: #e69dc1;
}